body{
    height: 100%;
    width: 100%;
}
.girafa{
   width: 250px;
   height: 300px; 
}
h1{
/*align-text:center;*/
text-align: center;
background:green;
}
.grade-alunos{

    width:100%;
    height: 80%;
    display:flex;
    content: fit;
    justify-content: space-between;
 /*   background-color: blue;*/
 flex-wrap: wrap;
}
caixa-aluno{
    width: fit-content;
    height:fit-content
}
